---

---

<!-- About Section Begins -->
<section class="bg-white my-20 md:mx-4 md:my-10 lg:my-20">
    <div class="py-8 px-4 mx-auto max-w-screen-xl">
        <div class="grid gap-8 items-center lg:gap-12 lg:grid-cols-12">
            <slot></slot>                    
        </div>
    </div>
</section>
<!-- About Section Ends -->