---

---

<!-- About Section Begins -->
<section class="bg-white my-20 md:mx-4 md:my-10 lg:my-20">
    <div class="py-8 px-4 mx-auto max-w-screen-xl">
        <div class="grid gap-8 items-center lg:gap-12 lg:grid-cols-12">
            <div class="hidden col-span-6 lg:flex">
                <img alt="Two concrete workers working" src="img/Workers-2.png" alt="illustration">
            </div>
            <div class="col-span-6 space-y-4 sm:mb-6 lg:text-left lg:mb-0">
                <h1 class="mb-4 text-3xl font-Bebas tracking-tight leading-none text-gray-900 underline underline-offset-8 decoration-orange-500 md:text-4xl">What We Do</h1>
                <p class="max-w-xl font-Inter text-gray-500 lg:mx-0 md:text-lg xl:text-lg">At Concrete Experts Company, we're a trusted and experienced team of concrete contractors based in North Carolina. With 10+ years of expertise, we specialize in delivering top-quality results and we strive to do the job right the first time.</p>
                <p class="max-w-xl font-Inter text-gray-500 lg:mx-0 md:text-lg xl:text-lg">Our customer service is our top priority, and we aim to achieve it by emphasizing communication, a positive attitude, and organization. Our ultimate objective is to convey these three traits to our clients throughout every project.</p>
                <a href="about.html" class="inline-flex items-center py-3 px-5 font-medium text-center text-white rounded-md bg-orange-500 hover:bg-orange-600 sm:mt-1">
                    <span class="font-Inter">Learn More</span>
                </a>                      
            </div>
        </div>
    </div>
</section>
<!-- About Section Ends -->