---

---

<!-- Hero Section Begins -->
<section class="bg-[url('img/Image-22.jpg')] bg-no-repeat bg-cover bg-center bg-gray-900/70 bg-blend-multiply lg:py-10">
    <div class="relative mx-auto max-w-screen-xl text-white sm:py-4 md:py-5 lg:my-18">
        <div class="px-3 mb-6 max-w-screen-md sm:px-4 md:px-5">
            <h1 class="pt-3 text-6xl tracking-tight leading-tight text-white font-Bebas">Reliable</h1>
            <h1 class="pt-3 text-6xl tracking-tight leading-tight text-white font-Bebas">Quality</h1>
            <h1 class="pt-3 text-6xl tracking-tight leading-tight text-white font-Bebas">Experienced</h1>
            <p class="py-2 text-gray-100 font-Inter md:text-lg">This is how our clients describe our concrete solutions!</p>
            <p class="py-2 text-gray-100 font-Inter md:text-lg">Our concrete solutions have earned the trust of satisfied customers with 10 years of experience. We deliver quality results and exceptional customer service to bring your vision to life. Contact us now and experience unparalleled service and top-quality results. Let's build something amazing together!</p>
            <a href="#quoteSection" class="inline-flex items-center my-4 mx-2 py-3 px-5 text-center text-white rounded-md bg-orange-500 hover:bg-orange-600">
                <span class="font-Inter font-medium">Get A Quote</span>
            </a>
        </div> 
    </div>
</section>
<!-- Hero Section Ends -->