---
import { Image } from "astro:assets";
import Feature1 from "../assets/Featured-1.JPG";
import Feature2 from "../assets/Featured-2.jpg";
---

<!-- Featured Project Section Begins -->
<section class="bg-white">
    <div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="text-gray-500 sm:text-lg">
            <h1 class="mb-4 text-3xl font-display tracking-tight leading-none text-gray-900 underline underline-offset-8 decoration-orange-500 md:text-4xl">Featured Project</h1>
            <p class="mb-4 text-gray-500 lg:mx-0 md:text-lg xl:text-lg">Our expert concrete contractors comprehend the importance of a strong foundation for your dream home, ensuring durability and structure. We are dedicated to providing outstanding results that surpass your expectations.</p>
            <p class="mb-4 text-gray-500 lg:mx-0 md:text-lg xl:text-lg">As per the blueprint, we dug and concreted the footings post-inspection, creating the base for the bricks and blocks, which forms the house's foundation. After setting the blocks, the foundation's exterior was waterproofed to avoid water leakage into the crawlspace.</p>
            <p class="text-gray-500 lg:mx-0 md:text-lg xl:text-lg">Lastly, the garage was cast with a 4-inch thickness of concrete, reinforced with fiber, although the option for wire mesh reinforcement was also available.</p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <Image src={Feature1} alt="residential concrete footing" class="w-full rounded-md"></Image>
            <Image src={Feature2} alt="residential concrete footing" class="mt-4 w-full lg:mt-10 rounded-md"></Image>
        </div>
    </div>
</section>
<!-- Featured Project Section Ends -->