---

---

<!-- Feature Section Begins -->
<section class="bg-white my-20 md:mx-4 md:my-10 lg:my-20">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">

        <h2 class="mb-4 text-3xl tracking-tight font-display text-gray-900 underline underline-offset-8 decoration-orange-500 md:text-4xl">Why Choose Us</h2>

        <div class="mt-8 lg:mt-12 space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">
            
            <div class="bg-gray-50 border-gray-200 border-2 p-4 rounded-md text-left">
                <svg class="mb-4 w-12 h-12 bg-orange-100 p-1.5 rounded-md" viewBox="0 0 48 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M47.1286 33.2147L11.0809 1.51984L0.515977 13.5357L36.5636 45.2306L47.1286 33.2147ZM31.9954 35.8877L37.2778 29.8797L40.8826 33.0492L35.6001 39.0571L31.9954 35.8877ZM22.0199 21.7905L25.6247 24.96C26.5807 25.8006 27.7759 26.2902 28.9472 26.3213C30.1186 26.3523 31.1702 25.9222 31.8707 25.1255L35.4755 28.295L30.193 34.3029L12.1691 18.4555L17.4516 12.4475L21.0564 15.617C20.3559 16.4137 20.0639 17.5117 20.2446 18.6695C20.4253 19.8272 21.0639 20.9499 22.0199 21.7905ZM6.76199 13.7012L12.0445 7.6933L15.6492 10.8628L10.3668 16.8707L6.76199 13.7012Z" fill="#F36422"/>
                    <path d="M11.5186 25.8703L15.3186 29.2138L8.17267 37.5546L8.40208 41.125L11.9725 40.8956L19.1184 32.5548L22.9182 35.8958L14.844 45.2977L4.13033 45.9861L3.44209 35.275L11.5188 25.8729L11.5186 25.8703ZM24.725 10.853L32.5883 1.60242C32.8077 1.35258 33.0742 1.14845 33.3726 1.00168C33.6709 0.854914 33.9953 0.768396 34.3271 0.747075C34.659 0.725753 34.9917 0.770046 35.3064 0.87742C35.6211 0.984794 35.9116 1.15314 36.1612 1.37284L43.7608 8.05479C44.2646 8.49789 44.5718 9.12294 44.6148 9.79248C44.6578 10.462 44.4331 11.1213 43.9902 11.6252L36.1272 20.8808L32.3246 17.535L38.5201 10.1866L34.7176 6.8433L28.5273 14.1938L24.725 10.853Z" fill="#F36422"/>
                </svg>                        
                <h3 class="mb-2 text-2xl font-display">Tailored Solutions</h3>
                <p class="mb-4 text-gray-500">We offer customized concrete solutions to match our clients' specific needs and preferences.</p>
            </div>

            <div class="bg-gray-50 border-gray-200 border-2 p-4 rounded-md text-left">
                <svg class="mb-4 w-12 h-12 bg-orange-100 p-1.5 rounded-md" viewBox="0 0 24 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.5746 15.0024L17.3214 17.908L23.1325 16.4143L22.3857 13.5088L16.5746 15.0024ZM11.7418 23.9966L10.7605 26.8316L10.7618 26.832L11.7418 23.9966ZM19.4835 32.4816L22.4826 32.5542L22.4827 32.5526L19.4835 32.4816ZM6.91033 32.9874L6.1646 30.0815L0.352927 31.573L1.09866 34.4788L6.91033 32.9874ZM14.744 3.3103V0.310303H8.744V3.3103H14.744ZM8.744 9.24733C8.744 10.9042 10.0871 12.2473 11.744 12.2473C13.4009 12.2473 14.744 10.9042 14.744 9.24733H8.744ZM8.744 44.6896V47.6896H14.744V44.6896H8.744ZM14.744 38.7526C14.744 37.0957 13.4009 35.7526 11.744 35.7526C10.0871 35.7526 8.744 37.0957 8.744 38.7526H14.744ZM22.3857 13.5088C21.2213 8.97858 16.5509 6.28556 11.8205 6.28556V12.2856C14.6463 12.2856 16.2794 13.8542 16.5746 15.0024L22.3857 13.5088ZM11.8205 6.28556C6.51996 6.28556 1 9.81107 1 15.5105H7C7 14.3305 8.48305 12.2856 11.8205 12.2856V6.28556ZM1 15.5105C1 18.2164 2.31813 20.656 4.04214 22.5176C5.78961 24.4046 8.15246 25.9289 10.7605 26.8316L12.723 21.1616C10.9907 20.562 9.48269 19.562 8.44437 18.4408C7.38259 17.2943 7 16.2419 7 15.5105H1ZM10.7618 26.832C12.5662 27.4556 14.0898 28.4081 15.1079 29.4701C16.1208 30.5267 16.505 31.5382 16.4843 32.4106L22.4827 32.5526C22.5509 29.6716 21.2344 27.1906 19.4392 25.318C17.6493 23.4509 15.2576 22.0375 12.7217 21.1611L10.7618 26.832ZM16.4844 32.409C16.4531 33.7039 14.9243 35.7076 11.6642 35.7076V41.7076C17.042 41.7076 22.3475 38.1363 22.4826 32.5542L16.4844 32.409ZM11.6642 35.7076C8.84067 35.7076 7.20524 34.1365 6.91033 32.9874L1.09866 34.4788C2.26103 39.0081 6.93145 41.7076 11.6642 41.7076V35.7076ZM8.744 3.3103V9.24733H14.744V3.3103H8.744ZM14.744 44.6896V38.7526H8.744V44.6896H14.744Z" fill="#F36422"/>
                </svg>
                <h3 class="mb-2 text-2xl font-display">Affordable Price</h3>
                <p class="mb-4 text-gray-500">We offer high-quality services at affordable prices with a team of skilled professionals.</p>
            </div>

            <div class="bg-gray-50 border-gray-200 border-2 p-4 rounded-md text-left">
                <svg class="mb-4 w-12 h-12 bg-orange-100 p-1.5 rounded-md" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M29.8139 48.51L15.8188 59.1954C15.1253 59.7628 14.3688 60.0301 13.5493 59.9973C12.7298 59.9671 12.0048 59.7313 11.3744 59.29C10.744 58.8487 10.256 58.2498 9.91057 57.4933C9.56259 56.7368 9.5462 55.9173 9.8614 55.0347L15.2514 37.5409L1.54 27.8011C0.783509 27.2967 0.310702 26.6348 0.121579 25.8153C-0.067544 24.9957 -0.0360232 24.2392 0.216141 23.5458C0.468304 22.8523 0.90959 22.2371 1.54 21.6999C2.17041 21.1654 2.9269 20.8981 3.80947 20.8981H20.736L26.2205 2.74228C26.5357 1.85971 27.0249 1.18139 27.6881 0.70732C28.3488 0.235774 29.0574 0 29.8139 0C30.5703 0 31.2789 0.235774 31.9396 0.70732C32.6028 1.18139 33.092 1.85971 33.4072 2.74228L38.8918 20.8981H55.8182C56.7008 20.8981 57.4573 21.1654 58.0877 21.6999C58.7181 22.2371 59.1594 22.8523 59.4116 23.5458C59.6637 24.2392 59.6953 24.9957 59.5061 25.8153C59.317 26.6348 58.8442 27.2967 58.0877 27.8011L44.3763 37.5409L49.7663 55.0347C50.0815 55.9173 50.0664 56.7368 49.7209 57.4933C49.3729 58.2498 48.8837 58.8487 48.2533 59.29C47.6229 59.7313 46.8979 59.9671 46.0784 59.9973C45.2589 60.0301 44.5024 59.7628 43.8089 59.1954L29.8139 48.51Z" fill="#F36422"/>
                </svg>
                <h3 class="mb-2 text-2xl font-display">Top Quality</h3>
                <p class="mb-4 text-gray-500">With a 4.9 star rating on Google reviews, our company ensures to support and understand you from consultation to completion. </p>
            </div>

        </div>

    </div>
</section>
<!-- Feature Section Ends -->